/*
 * Provides a drop-in pointer for the default Trix stylesheet that will format the toolbar and
 * the trix-editor content (whether displayed or under editing). Feel free to incorporate this
 * inclusion directly in any other asset bundle and remove this file.
 *
 *= require trix
*/

/*
 * We need to override trix.css’s image gallery styles to accommodate the
 * <action-text-attachment> element we wrap around attachments. Otherwise,
 * images in galleries will be squished by the max-width: 33%; rule.
*/
.trix-content .attachment-gallery > action-text-attachment,
.trix-content .attachment-gallery > .attachment {
  flex: 1 0 33%;
  padding: 0 0.5em;
  max-width: 33%;
}

.trix-content .attachment-gallery.attachment-gallery--2 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--2 > .attachment, .trix-content .attachment-gallery.attachment-gallery--4 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--4 > .attachment {
  flex-basis: 50%;
  max-width: 50%;
}

.trix-content action-text-attachment .attachment {
  padding: 0 !important;
  max-width: 100% !important;
}

#header {
  position: absolute;
  top: 10px;
  right: 10px;
}

.user-info {
  float: right;
}

#articles {
  margin-top: 50px; /* Ajuste o valor conforme necessário para dar espaço ao header */
}



/* Paginação com Kaminari */

#pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#pagination .pagination li {
  margin: 0 2px;
}

#pagination .pagination {
  display: flex;
  list-style: none;
}

#pagination .pagination li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #f0f0f0;
  color: #333;
  text-decoration: none;
  border-radius: 50%;
}








