/* application.css */

/* Estilos para o header */
#header {
    background-color: #f8f9fa;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-message {
    margin: 4px; /* Corrigido para um valor válido */
}

/* Estilos para o container de colunas */
.container {
    display: flex;
    width: 100%; /* Garante que o container ocupe toda a largura disponível */
    justify-content: space-between; /* Distribui o espaço entre as colunas */
}

.column {
    padding: 20px; /* Reduzido o padding para evitar cortes */
    flex: 1;
    box-sizing: border-box; /* Inclui padding na largura total */
}

.left-column {
    flex: 1;
}

.middle-column {
    flex: 6; /* Aumentando a flexibilidade da coluna do meio para ocupar mais espaço */
}

.right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha os itens à esquerda */
}

/* Estilos para notificações */
.notice {
    color: green;
}

.alert {
    color: red;
}

/* Estilos para o formulário de pesquisa */
.search-form {
    margin-top: 10px;
    margin-left: 0; /* Removido o margin-left para evitar cortes */
}

/* Estilos para os artigos */
.article {
    border: 2px solid #ccc;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 20px;
    width: 500px;
    box-sizing: border-box;
}

.article h2 {
    font-size: 22px;
}

.actions {
    margin-top: 22px;
}

/* Estilos para o botão de novo artigo */
.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px; /* Reduzido o padding para evitar cortes */
    border-radius: 10px;
    text-decoration: none;
    margin-top: 10px; /* Adicionado margin-top para espaçamento */
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* app/assets/stylesheets/application.css */

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination a, .pagination span {
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid #ddd;
  color: #007bff;
}

.pagination a:hover {
  background-color: #007bff;
  color: white;
}

.pagination .current {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
}